
body {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  background: #f8f9fa;
}

#main {
}



.row {
    align-items: center;
    overflow-y:scroll;
    margin-top: 15%;
    margin-bottom: 15%;
}

#top {
  align-items:start;
}

.border {
  border-style: solid;
  border-radius: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#me {
  border-radius: 25px;
}

.huge {
  font-size: 400%;
}

h1, h2, h3 {
  margin-top: 5%;
}